<%= form_for(@current_user, url: user_path(@current_user, by: "pwd"), html: {class: "form-horizontal", rule: "form", style:"margin: 10px;"}) do |f| %>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="user_current_password">旧密码</label>
    <div class="col-sm-4">
      <input class="form-control" id="user_current_password" name="user[current_password]" placeholder="请输入旧密码" type="password">
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.password_field :password, class: "form-control", placeholder: "请输入密码" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "请输入确认密码" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </div>
<% end %>
  
<% if @current_user.errors.any? %>
  <ul class="list-group">
    <li class="list-group-item list-group-item-danger">保存时发生了 <%= @current_user.errors.count %> 个错误：</li>
    <% @current_user.errors.full_messages.each do |msg| %>
      <li class="list-group-item"><%= msg %></li>
    <% end %>
  </ul>
<% end %>
