<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>UserManagement</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body style='padding: 60px 100px;'>
    <%= render 'top_nav' %>

    <%= yield %>

    <%= render 'copyright' %>
  </body>
</html>
